include head.pug
.bg-dark
    include nav.pug

.container-fluid.p-5
    .row.justify-content-center
        .col-12.col-md-6.mb-4
            iframe.mapa(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3987.82410323279!2d-79.5475663504708!3d-1.8116127986726176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902d28109a7a09e5%3A0xe03f6555fec9270f!2sInstituto%20Tecnol%C3%B3gico%20Superior%20Babahoyo!5e0!3m2!1ses-419!2sec!4v1586969880427!5m2!1ses-419!2sec', frameborder='0', style='border:0;', allowfullscreen='', aria-hidden='false', tabindex='0')
        .col-12.col-md-6.mb-4
            h4.text-center Contactarme
            form.ui.small.form(method='POST')
                .two.fields
                    .field
                        label Nombres:
                        input(placeholder='Marcos Jose', name='nombre', type='text')
                    .field
                        label Apellidos:
                        input(placeholder='Lopez Reyes', name='apellido', type='text')
                .two.fields
                    .field
                        label Correo Electronico:
                        input(placeholder='Marcos@gmail.com', name='correo', type='email')
                    .field
                        label Asunto:
                        input(placeholder='Preguntas', name='asunto', type='text')
                .field
                    label Mensaje:
                    textarea(name="mensaje", rows="10", placeholder='Mi mensaje especificado aqui..!')
                    
                
                .fluid.ui.submit.teal.button(type='submit', onClick='enviar()') Enviar


include footer.pug
