footer.container-fluid.p-5
    .row
        .col-12.col-md-4.p-2.text-center
            h4.text-white Mis Redes
            a.ui.circular.facebook.icon.button.m-1(href='https://www.facebook.com/andres.coellogoyes', target='_blank')
                i.facebook.icon
            a.ui.circular.twitter.icon.button.m-1(href='https://twitter.com/AndresC79085858', target='_blank')
                i.twitter.icon
            a.ui.circular.linkedin.icon.button.m-1(href='https://www.linkedin.com/in/andres-coello-816409199/', target='_blank')
                i.linkedin.icon
            a.ui.circular.dark.icon.button.m-1(href='https://github.com/GandresCoello18', target='_blank')
                i.github.icon
        
        .col-12.col-md-4.p-2.text-center.text-white
            h4 Sitio Creado con:
            i.big.node.js.icon
            i.big.sass.icon
            i.big.html5.icon
            i.big.npm.icon
            i.big.github.icon
        
        .col-12.col-md-4.p-2.text-center.text-white
            h4 Ubicacion:
            P Ecuador , Los Rios, Babahoyo &nbsp; &nbsp;
                i.ec.flag
