- var titulo = 'Galeria | Andres Coello Goyes'
- var keywords = ['Galeria de Andres coello', 'Fotos de Andres coelo', 'Imagenes de Andres coello Ecuador'];
- var description = 'Imagenes de andres coello lugares, eventos, setup.';
include head.pug
.bg-dark
    include nav.pug

h2.text-center.p-2(style='font-family: Kanit, sans-serif;') Galeria
.container-fluid.p-5
    .row.justify-content-center
        each valor in ['dev-1','dev-2','dev-3','dev-4','dev-6','dev-7','dev-8','dev-9','dev-10', 'dev-11', 'dev-12']
            .col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2.mb-4.p-1.ml-4.ml-md-0
                .ui.card
                    a.content(href='https://www.instagram.com/coellogoyes/', target='_blank')
                        .right.floated.meta Developer
                        img.ui.avatar.image(src='/img/profile-test.jpg')
                        |  Andres Coello
                    .image(data-toggle='modal' data-target='#modalGaleria'+valor)
                        img.card-img-top.p-2.p-md-4(src='img/galeria/'+valor+'.jpg', style='max-height: 350px; object-fit: cover;')

                .modal.fade(id='modalGaleria'+valor tabindex='-1' aria-labelledby='modalGaleria' aria-hidden='true')
                    .modal-dialog
                        .modal-content
                            .modal-header
                                h5#exampleModalLabel.modal-title Andrés Coello Goyes
                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                span(aria-hidden='true') ×
                            .modal-body
                                img.card-img-top.p-2.p-md-4(src='img/galeria/'+valor+'.jpg')

include footer.pug