nav.navbar.navbar-expand-lg.navbar-light
    button.navbar-toggler.btn-menu-mini(type='button', style='background-color: #fff', data-toggle='collapse', data-target='#navbarTogglerDemo01', aria-controls='navbarTogglerDemo01', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarTogglerDemo01.collapse.navbar-collapse
        ul.navbar-nav.mr-auto.mt-2.mt-lg-0
            li.nav-item.active
                a.nav-link.text-white(href='/', style='font-size: 17px')
                    | Inicio
            li.nav-item
                a.nav-link.text-white.ml-md-3(href='/portafolio', style='font-size: 17px;') Portafolio
            li.nav-item
                a.nav-link.text-white.ml-md-3(href='/blog?page=1', style='font-size: 17px') Blog
            li.nav-item
                a.nav-link.text-white.ml-md-3(href='/experiencia', style='font-size: 17px') Experiencias
            li.nav-item
                a.nav-link.text-white.ml-md-3(href='/galeria', style='font-size: 17px') Galeria
            li.nav-item
                a.nav-link.text-white.ml-md-3(href='/sobre-mi', style='font-size: 17px') Habilidades
            li.nav-item
                a.nav-link.text-white.ml-md-3(href='/contacto', style='font-size: 17px') Ubicacion
            li.nav-item
                a.ui.inverted.basic.button.mini.mt-1.ml-1(href='pdf/CV.pdf' download) Descargar CV