- var titulo = 'Portafolio | Andres Coello Goyes'
- var keywords = ['Portafolio de Andres coello', 'Proyectos web de Andres', 'Desarrollador de software Ecuador', 'software en aplicaciones web'];
- var description = 'Portafolio de Andres coello, lugar donde muestra algunos de sus proyectos mas recientes de apliciones web, mobil y escritorio.';
include head.pug
.bg-dark
    include nav.pug
.container-fluid.p-4
    h2.text-center.mb-4 Algunos de mis proyectos
    .row.justify-content-center.mt-5
        each valor in datos_proyectos
            .col-12.col-sm-6.col-md-4.col-lx-3.mb-4
                .ui.card.centered
                    .image
                        img(src='img/proyectos/'+valor.imagen_proy)
                    .content
                        a(href=valor.enlace_pry, target='_blank').header= valor.titulo_proy
                        .meta
                            span.date 
                            .description= valor.descripcion_proy
                    .extra.content
                        a(href=valor.enlace_pry, target='_blank')
                                i.globe.icon
                                b &nbsp;
                                b Link

include footer.pug