- var titulo = 'Ventajas de PHP'
include head.pug
.bg-dark
    include ../nav.pug

.portada_articulo(style=`background-image: url("/img/blog/${info_del_articulo[0]['imagen_arti']}")`)
    .capa_oscura
        h2.text-white.text-center= info_del_articulo[0]['titulo_arti']

.container.p-3
    div.row
        div.col-12.col-lg-8.col-xl-9.p-2.p-md-5.parrafo_post
            p.p-2
            | Php es un lenguaje de programación y fue uno de los primeros creados para realizar sitios 
            strong dinámicos
            | , aunque es amado por unos y odiado por otros debido a su indisciplina en codificación obteniendo como resultado un código 
            strong “Espagueti”
            |  algo que es muy complejo de entender.
            p.p-1
            | Con el transcurso del tiempo fue evolucionando y facilitándose su desarrollo. Lo único que necesitas para empezar es un editor de código para la escritura de tus instrucciones o incluso solo el bloc de notas de tu dispositivo. Un servidor 
            b local
            |  para realizar la ejecución de tus instrucciones si deseas crearlo y configurarlo tú mismo, no hay ningún problema pero recuerda que existen programas como 
            strong XAMPP o WAMPSERVER
            |  para facilitar esta etapa.
            p.p-1
            | Lo siguiente es conocer la sintaxis de php ya que todos los lenguajes tienen algo interesante para conocer, 
            b ¿cómo se escribe y cuál es su funcionalidad?
            |  Veamos algunas palabras claves.
            p.p-1
            code echo
            |  “hola mundo”; - su funcionalidad es imprimir en pantalla lo especificado.
            p.p-1
            code $
            | miVariable = “soy una variable”;  - su funcionalidad es crear variables ya sea de tipo 
            code String, number, boolean, int, float
            | .
            p.p-1
            code $
            | arreglo = 
            code array
            |  (“andes”, ”Coello”, ”Goyes”); - su funcionalidad es crear arreglos. Un arreglo simplemente es una variable que puede contener muchos valores.
            p.p-1
            code var-dump
            |  ($arreglo); - sirve para mostrar al arquitectura de un arreglo.
            p.p-1
            | Si deseas un código más simple y entendible, puedes aprender a utilizar el paradigma 
            strong POO
            |  – Programación Orientado a Objetos.
            .row.mt-3
                .col-12.col-md-6
                    p.p-1
                    | Lo que lo hace muy popular son sus funcionalidades como: conexiones  a bases de datos, gestión de directorios, manipulación de archivos, creación de Sesiones, creación de Cookies, seguridad, Usa extensiones.
                .col-12.col-md-6
                    #sabias
                        h6.text-center ¿Sabias esto?
                        p.p-2
                            | Gracias a Php se construyeron grandes proyectos y aplicaciones donde nosotros utilizamos día a día como Facebook y Wikipedia.


        .col-12.col-lg-4.col-xl-3.p-2
             
            br
            br

            include compartir.pug


include ../footer.pug